@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
    --color-primary: #135bec;
    --color-background-light: #f6f6f8;
    --color-background-dark: #101622;
    --color-surface-dark: #192233;
    --color-border-dark: #232f48;

    --font-display: "Space Grotesk", sans-serif;
    --font-body: "Noto Sans", sans-serif;
}

html {
    @apply scroll-smooth scroll-pt-6;
}

body {
    @apply font-body bg-background-light text-slate-900 dark:bg-background-dark dark:text-white;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-display;
}

@keyframes glitch {
    2%, 64% {
        transform: translate(2px,0) skew(0deg);
    }
    4%, 60% {
        transform: translate(-2px,0) skew(0deg);
    }
    62% {
        transform: translate(0,0) skew(5deg);
    }
}

.animate-glitch {
    animation: glitch 1s linear infinite;
}

.grecaptcha-badge { 
    visibility: hidden; 
}
